<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<script type="text/javascript">
    function deleteRecord() {
        var courseIds = [];

        $.each($("input[name='courseId']:checked"), function() {
            courseIds.push($(this).val());
        });

        if (Array.isArray(courseIds) && !courseIds.length) {
            alert("Please select record(s) to be deleted ");
            event.preventDefault();
        } else {
            document.getElementById("selectedIds").value = courseIds;
            document.getElementById("viewCourseForm").action = "/deleteCourses";
        }
    }
</script>

<script type="text/javascript">
    function show_hide_table() {
        var hasCourses = document.getElementById("hasCourses").value;

        if (hasCourses === 'false') {
            document.getElementById("availableCourses").style.display = "none";
            document.getElementById("emptyCourses").style.display = "block";
        } else {
            document.getElementById("availableCourses").style.display = "block";
            document.getElementById("emptyCourses").style.display = "none";
        }
    }
</script>

<body>

<form id="viewCourseForm" method="POST">

    <nav th:replace="~{fragments/navigationBar :: navigationBar}"></nav>

    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">

                    <input type="hidden" id="hasCourses" th:value="${hasCourses}" />

                    <div class="tm-product-table-container" id="availableCourses" style="display: none;">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">COURSE</th>
                                    <th scope="col">TRAINER</th>
                                    <th scope="col">SEATS</th>
                                    <th scope="col">MONTHS</th>
                                    <th scope="col">COURSE FEE (&#x20B9;)</th>
                                    <th scope="col">START DATE</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="course : ${courseList}">
                                    <th scope="row">
                                        <input type="checkbox" th:value="${course.courseId}" name="courseId" />
                                    </th>
                                    <td class="tm-product-name" th:text="${course.courseName}"></td>
                                    <td class="tm-product-name" th:text="${course.trainerName}"></td>
                                    <td class="tm-product-name" th:text="${course.totalSeats}"></td>
                                    <td class="tm-product-name" th:text="${course.duration}"></td>
                                    <td class="tm-product-name" th:text="${course.courseFee}"></td>
                                    <td class="tm-product-name" th:text="${course.startDate}"></td>
                                    <td>
                                        <a th:href="@{/editCourse(id=${course.courseId})}" class="tm-product-edit-link" title="Edit course details">
                                            <i class="fas fa-edit tm-product-edit-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tm-product-table-container" id="emptyCourses" style="display: none;">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">COURSE</th>
                                    <th scope="col">TRAINER</th>
                                    <th scope="col">SEATS</th>
                                    <th scope="col">MONTHS</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">START DATE</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                        <br /><br />
                        <p class="text-center text-white mb-0 px-4">No Courses to display. Add new Course(s).</p>
                    </div>

                    <a href="/addCourse" class="btn btn-primary btn-block text-uppercase mb-3">Add new course</a>
                    <input id="selectedIds" name="selectedIds" type="hidden" value="">
                    <button class="btn btn-primary btn-block text-uppercase" onclick="deleteRecord();">Delete selected course</button>

                </div>
            </div>
        </div>
    </div>

</form>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<div th:replace="~{fragments/jsLibraries :: jsLibraries}"></div>

<script>
    window.onload = show_hide_table;
</script>

</body>
</html>
